
{% if paginator %}
<!-- Pagination links -->
<div class="pagination">
  {% if site.owner.email %}
    <a href="mailto:{{ site.owner.email }}" class="social-media-icons"><i class="fa fa-2x fa-envelope-square" aria-hidden="true"></i></a>
  {% endif %}
  {% if site.owner.github %}
    <a href="{{ site.owner.github }}" class="social-media-icons"><i class="fa fa-2x fa-github-square" aria-hidden="true"></i></a>
  {% endif %}

</div>
{%  endif %}

<div class="footer-pagination">
  <span class="copyright" style="float: left; font-size: 14px; width: 100%; margin-top: 6px;">&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}</span>
  <span class="copyright" style="float: left; font-size: 12px; width: 100%; margin-top: 6px;"><a href="prywatnosc">Polityka prywatności</a> <br><a href="nota">Nota korporacyjna</a><br><a href="https://gabinetpsychiatra.pl/pgp">Klucz pgp</a></span>
  
</div>
