<meta charset="utf-8">
<Title>{{ site.description }}</Title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">


{% if site.rtl %}
<link rel="stylesheet" href="{{ '/css/main.min.rtl.css' | relative_url }}" type="text/css" />
<style>
    .highlight pre {
        direction: ltr;
    }
</style>
{% else %}
<link rel="stylesheet" href="{{ '/css/main.min.css' | relative_url }}" type="text/css" />
{% endif %}
